.form{
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
padding:100px 50px;
border: 2px solid rgb(214, 91, 124);
width: 60%;
border-radius: 5%;
background-color: white;
 box-shadow: 1px 1px 20px 0px white;
}
.login-sec{
 padding: 100px 70px;
 padding-top: 150px;
 background-color:rgb(214, 91, 124) ;
}

.form h2{
    color: rgb(214, 91, 124) ;
}
.form button{
    background-color: white;
    border: none;
    background-color:rgb(214, 91, 124) ;
    color: white;
    padding:5px 20px ;
    border-radius:4rem ;
    margin-bottom: 20px;
}
@media (max-width:1000px) {
 .form{width: 100%;}
}