.register-form{
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
padding:60px 50px;
border: 2px solid rgb(214, 91, 124);
width: 40%;
border-radius: 5%;

background-color: white;

}
.register-sec{
 padding: 100px 70px;
 background-color:rgb(214, 91, 124) ;
 padding-top: 150px;
}
.register-form input{
    margin: 12px;
    padding: 10px 0px;
    width: 80%;
    border-radius:4rem;
    padding-left: 10px;
    border: 2px solid rgb(214, 91, 124) ;
}
.register-form h2{
    color: rgb(214, 91, 124) ;
}
.register-form button{
    background-color: white;
    border: none;
    background-color:rgb(214, 91, 124) ;
    color: white;
    padding:5px 20px ;
    border-radius:4rem ;
    margin-bottom: 20px;
}
@media (max-width:1000px) {
 .register-form{width: 100%;}
}