.edit-container {
  width: 100%;
  height: 100vh !important;
  flex-direction: column;
  padding: 50px 0px;
  background-color: rgba(9, 9, 30, 0.495);
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 50000;
  height: 100%;
}

.edit-form {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px 20px;
  border: 2px solid var(--logo-color);
  width: 42rem;
  border-radius: 5%;
  background: linear-gradient(to right, var(--navbar-color), #1e365e);
  box-shadow: 1px 1px 20px 0px white;
}

.edit-form button {
  background-color: white;
  border: none;
  background-color: var(--btn-color);
  color: white;
  padding: 5px 20px;
  border-radius: 4rem;
  margin-bottom: 20px;
  margin-top: 20px;
}

.edit-img {
  border-radius: 100%;
  margin-bottom: 20px;
  margin-top: 20px;
  width: 130px;
  height: 130px;
}

@media (max-width: 1000px) {
  .edit-form {
    width: 100%;
  }

  .edit-container {
    padding: 170px 30px;
  }
}
