.circleIcon {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    background-color: #3C83F61A;
    padding: 10px;
    border-radius: 50px;
    color: var(--logo-color);
    margin-bottom: 10px;
    margin-right: 20px;

}