.collection-item{

 position: relative;
 border-radius: 2rem;
 overflow: hidden;
 height: 27rem;
}
.collection-item:hover{
 box-shadow: 1px 1px 20px 0px var(--logo-color);

}
.collection-item img{
    width: 20rem;
    object-fit: cover;
   height: 100%;
   
}
.collection-item h3{

    position: absolute;
    bottom: 10px;
    left: 15px;
    color: white;
}
.collection-layer{

    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.506);
    position: absolute;
}
@media (max-width:1000px) {
   
}