.hero-btn {
    background-color: var(--btn-color);
    color: white;
    border-radius: 5%;
    padding: 10px 40px;
    border: none;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 50px;

}

.hero-btn:hover {
    background-color: white;
    color: var(--btn-color);

    transition: 0.1s;
}

.details-btn {
    background-color: var(--btn-color);
    color: white;
    border-radius: 5%;
    padding: 15px 146px;
    border: none;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 50px;

}

.details-btn:hover {
    background-color: white;
    color: var(--btn-color);
    transition: 0.1s;

}

.product-item-btn {
    background-color: var(--btn-color);
    color: white;
    border-radius: 5%;
    padding: 10px 20px;
    border: none;
    font-weight: bold;
    margin-top: 10px;

}

.product-item-btn:hover {
    background-color: white;
    color: var(--btn-color);
    border: 2px solid var(--btn-color);
    transition: 0.5s;
}

.cart {

    background-color: white;
    color: var(--btn-color);
    border-radius: 5%;
    padding: 10px 20px;
    border: none;
    font-weight: bold;
    margin-top: 10px;
}

.cart:hover {
    background-color: var(--btn-color);
    color: white;
    border: 2px solid white;
}

@media(max-width:1000px) {

    .hero-btn {
        margin-top: 10px;
    }

    .details-btn {

        padding: 15px 40px;
    }
}