.hero-btn{
    background-color:rgb(214, 91, 124) ;
    color: white;
    border-radius: 5%;
    padding: 10px 40px;
    border: none;
    font-weight: bold;
    margin-top: 50px;
}
.hero-btn:hover{
    background-color: white;
    color:rgb(214, 91, 124)  ;
    border: 2px solid rgb(214, 91, 124)  ;
    transition: 0.5s;
}
.product-item-btn{
    background-color:rgb(214, 91, 124) ;
    color: white;
    border-radius: 5%;
    padding: 10px 20px;
    border: none;
    font-weight: bold;
    margin-top: 10px;
   
}
.product-item-btn:hover{
    background-color: white;
    color:rgb(214, 91, 124)  ;
    border: 2px solid rgb(214, 91, 124)  ;
    transition: 0.5s;
}
.cart{

    background-color: white;
     color: rgb(214, 91, 124);
    border-radius: 5%;
    padding: 10px 20px;
    border: none;
    font-weight: bold;
    margin-top: 10px;
}
.cart:hover{
    background-color: rgb(214, 91, 124);
    color:white;
    border:2px solid white;
}
@media(max-width:1000px){

    .hero-btn{margin-top: 10px;}
}