.featuredSec {
    padding: 100px 70px;
    width: 100%;
    background-color:var(--bg-color);
    flex-direction: column;
}

.featuredSec h3 {
    color:var(--navbar-color);
    font-size: 2.5rem;
    margin-bottom: 40px;
}
.featured-products{
    gap: 50px;
    padding: 50px 0px;
}