.featuredSec {
    padding: 100px 70px;
    width: 100%;
    background-color: var(--bg-color);
    flex-direction: column;
}

.featuredSec h3 {
    color: var(--navbar-color);
    font-size: 2.4rem;
    margin-bottom: 40px;
}

.featured-products {
    gap: 4.3%;
    padding: 50px 0px;
    width: 100%;
}

@media (max-width:1000px) {
    .featured-products {
        flex-wrap: wrap;
        gap: 60px;
    }

    .featuredSec {
        padding: 100px 30px;
    }
}