.featuredSec {
    padding: 100px 70px;
    width: 100%;
    background-color: rgb(214, 91, 124);
    flex-direction: column;
}

.featuredSec h2 {
    color: white;
    font-size: 2.5rem;
    margin-bottom: 40px;
}
.featured-products{
    gap: 50px;
    padding: 50px 0px;
}