.recent-order-item {
    padding: 40px 10px;
    border-radius: 2rem;
    color: white;



}

.recent-order-item ul {
    display: flex;
    align-items: center;
    justify-content: start;
    list-style: none;
    gap: 100px;
    margin-left: 10px;
}

.motion-div-recent-item {
    width: 80%;
}

.motion-div-recent-item ul img {
    width: 4rem;
    height: 4rem;
    border-radius: 100%;
}
@media (max-width:1000px) {
    .recent-order-item ul{
        flex-wrap: wrap;
    
    }
    .recent-order-item{
         box-shadow: 1px 1px 20px 0px var(--bg-color);
    }
}