.product-item {
  background-color: white;
  border-radius: 2rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
}

.product-item:hover {
  box-shadow: 1px 1px 20px 0px var(--logo-color);
}

.product-item img {
  object-fit: cover;
  width: 100%;
  height: 240px;
}

.product-item p,
.product-item h3 {
  text-decoration: none !important;
  color: var(--navbar-color);
}

.product-item p {
  color: var(--logo-color);
  font-weight: bold;
  font-size: 1.3rem;
}

.product-item .img-div {
  width: 100%;
  height: 100%;
}

.product-item .content-div {
  margin: 10px 0px;
}

.Link {
  text-decoration: none !important;
}

.motion-div {
  width: 20% !important;
}

@media (max-width: 1000px) {
  .motion-div {
    width: 40% !important;
  }
}

@media (max-width: 500px) {
  .motion-div {
    width: 100% !important;
  }
}
