.hero{
    width: 100%;
    height: 100vh;
 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px 70px;

}
.hero h2{

    color: rgb(214, 91, 124);
    font-size: 3rem;
    width: 70%;
}
.hero p{

    color: rgb(48, 33, 46);
    font-size: larger;
    width: 70%;
    margin-top: 20px;
}
.hero img{
    object-fit: cover;
  width: 25rem;
  border-radius: 5%;

}


@media (max-width:1000px) {
  .hero p{
    font-size: small;
    text-align: center;
  }  
  .hero h2{
    font-size: 2rem;
    text-align: center;
  }
  .hero{
    padding-top: 120px !important;
  
   
  }
  .hero .left-hero{
    width: 30rem;
    margin-left: 110px;
  }
  
}