.hero {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0px 70px;

}

.left-hero {
  width: 58% !important;
}

.hero h2 {

  color: rgb(214, 91, 124);
  font-size: 2.2rem;
  width: 70%;
}

.hero p {

  color: rgb(48, 33, 46);
  font-size: larger;
  width: 70%;
  margin-top: 20px;
}

.hero img {
  object-fit: cover;
  width: 25rem;
  height: 15rem;
  border-radius: 5%;

}


@media (max-width:1028px) {
  .hero p {
    font-size: smaller;
    text-align: center;
    width: 24rem;

  }

  .hero h2 {
    font-size: 1.6rem;
    text-align: center;
    margin-top: 10px;
    width: 15rem;


  }

  .hero {
    padding-top: 120px !important;



  }

  .hero .left-hero {
    width: 30rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;

  }

  .hero-div1 {
    flex-direction: column-reverse;

  }

  .hero .hero-div1 img {
    width: 20rem;
    height: 10rem;

  }

}

@media (max-width:524px) {
  .hero p {
    font-size: smaller;
    width: 15rem;
    margin-top: 5px;
  }

  .hero h2 {
    font-size: medium;

  }


}