.hero {
  width: 100%;
  height: 85vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  padding: 0px 70px;
  background-image: url("../../../public/images/heroBg3.png");
  background-position: center;
  background-size: cover;
  position: relative;

}

.layer {
  width: 100%;
  height: 100% !important;
  position: absolute;
  background-color: #121a2b7d;
  z-index: 0 !important;


}

.hero-div1 {
  flex-direction: column;
  text-align: center;
  z-index: 10 !important;
}

.btn-hero {
  z-index: 10;
}

.left-hero {
  width: 58% !important;
}

.hero h2 {

  color: white;
  font-size: 4.3rem !important;
  width: 70%;
  font-weight: bold;


}

.hero p {
  color: rgb(221, 219, 219) !important;


}

.hero span {

 color: var(--logo-color);
}


.hero img {
  object-fit: cover;
  width: 25rem;
  height: 15rem;
  border-radius: 5%;

}


@media (max-width:1028px) {
  .layer {
    top: 0px;
  }

  .hero p {

    text-align: center;
    width: 24rem;

  }

  .hero h2 {

    text-align: center;
    margin-top: 10px;
    width: 15rem;
    font-size: 3.3rem !important;

  }

  .hero {
    padding-top: 120px !important;



  }

  .hero .left-hero {
    width: 30rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;

  }

  .hero {
    justify-content: center;
  }

  .hero .hero-div1 img {
    width: 20rem;
    height: 10rem;

  }

}

@media (max-width:524px) {
  .hero p {
    font-size: 1rem;
    width: 15rem;
    margin-top: 5px;
  }

  .hero h2 {
    font-size: 2rem;

  }


}