.stat-card {

    padding: 40px;
    border-radius: 2rem;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to right, var(--navbar-color), #1e365e);
    box-shadow: 1px 1px 20px 0px var(--bg-color);
}

.stat-card p {
    font-weight: bold;
    font-size: 1.6rem;
}