.about-us-item{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;

}
.about-us-item h3{
margin-top: 40px;
}
.about-us-item .circle-icon-us{
    border: 3px solid var(--logo-color);
    padding: 30px;
    border-radius: 100%;
    color: var(--logo-color);
    font-size: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
