.users-dash-section{

background: linear-gradient(to right, var(--navbar-color), #1e365e);
  width: 100%;
  flex-direction: column;
  padding-top: 50px;
  gap: 50px;
  padding: 100px 0px;
  position: relative;
  padding-left: 150px;
height: 100%;

}
@media (max-width:1000px) {
    .users-dash-section{
        padding:100px 10px ;
    }
}