.cart-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: var(--bg-color);
  padding-top: 100px;
  padding: 100px 100px;
}

.cart-right {
  margin-left: 10px !important;
}

.cart-info {
  padding: 50px 0px;
  gap: 4%;
  display: flex;
  align-items: start;
  justify-content: center;
  width: 100%;
}

.product-cart {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2rem;
  padding: 20px;
  box-shadow: 1px 1px 20px 0px gainsboro;
  gap: 20px;
  margin-top: 40px;
  width: 100%;
}

.product-cart:hover {
  box-shadow: 1px 1px 20px 0px var(--logo-color);
}

.product-cart img {
  border-radius: 1rem;
  width: 150px;
  height: 10rem;
  margin-right:150px;
  object-fit: cover;
}

.remove-btn {
  border: none;
  background-color: white;
  font-size: 1.5rem;
  color: var(--navbar-color);
}

.cart-items {
  margin-top: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  width: 50%;
}

.details-cart {
  position: sticky;
  top: 100px;
  height: fit-content;
  background-color: var(--navbar-color);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 2rem;
  padding: 50px 100px;
  width: 100%;
  width: 50%;
}

.details-cart h4 {
  margin-bottom: 40px;
}

.empty-cart {
  height: 100vh;
  padding: 100px 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

@media (max-width: 600px) {
  .cart-info {
    width: 100%;
    flex-wrap: wrap;
    flex-direction: column-reverse;
  }

  .details-cart {
    padding: 20px;
    align-self: center;
    position: static;
    width: 100%;
  }

  .details-cart h4 {
    margin-bottom: 10px;
  }

  .cart-container {
    flex-wrap: wrap;
    padding: 0px 20px;
  }

  .product-cart {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    flex-wrap: wrap;
    width: max-content;
    padding: 20px;
    width: 100% !important;
  }

  .product-cart img {
    width: 100%;
  }

  .cart-items {
    width: 100%;
  }
}

@media (max-width: 1270px) {
  .product-cart {
    width: 100%;
    flex-wrap: wrap;
  }
}
