.form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 100px 50px;
  border: 2px solid var(--logo-color);
  width: 45rem;
  border-radius: 5%;
  background: linear-gradient(to right, var(--navbar-color), #1e365e);
  box-shadow: 1px 1px 20px 0px white;
}

.login-sec {
  padding: 100px 70px;
  padding-top: 150px;
  background-color: var(--bg-color);
  height: 120vh;
  width: 100%;
}
.motion-form {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.form P {
  color: white;
}

.form h2 {
  color: white;
}

.form button {
  background-color: white;
  border: none;
  background-color: var(--btn-color);
  color: white;
  padding: 5px 20px;
  border-radius: 4rem;
  margin-bottom: 20px;
  margin-top: 20px;
}

@media (max-width: 1000px) {
  .form {
    width: 100% !important;
  }

  .login-sec {
    padding: 100px 10px !important;
  }
}
