.contact-section {
    flex-direction: column;
    width: 100%;
    padding: 50px 100px;
    background-color: var(--bg-color);
}

.contact-form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 80px 20px;
    border: 2px solid var(--logo-color);
    width: 42rem;
    border-radius: 5%;
    background: linear-gradient( to right ,var(--navbar-color) , #1e365e);
    box-shadow: 1px 1px 20px 0px white;
}

.contact-form button {
    background-color: white;
    border: none;
    background-color: var(--btn-color);
    color: white;
    padding: 5px 20px;
    border-radius: 4rem;
    margin-bottom: 20px;
    margin-top: 20px;

}

.contact-info2 {
    gap: 50px;
    margin-top: 50px;
    width: 100%;
    align-items: start;
}

.map {
    height: 360px;
    border-radius: 2rem;
    width: 100%;
}

#message {
    padding: 20px 20px;
}

.contact-section .info {
    width: 50%;
    flex-direction: column;
    display: flex;
    align-items: self-start;
    justify-content: center;
}

.contact-section .contact-form .contact-text {
    color: white !important;
}

@media (max-width:1000px) {
    .contact-form {
        width: 100%;
    }

    .contact-section {
        padding: 20px 20px !important;
    }

    .info {

        display: flex;
        align-items: center;
        justify-content: center;
    }

    .contact-section .contact-info2 {
        width: 100% !important;
        padding: 0px;
        gap: 20px;
    }

    .contact-section .contact-info2 .map {
        width: 100% !important;
    }

    .info {
        width: 100% !important;
    }
}