.z-navbar {
  width: 100%;
  height: 80px !important;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 100px;
  z-index: 1000;
  position: fixed;
  background-color: var(--navbar-color);
}

.z-navbar .logo h1 {
  color: white;
  font-size: 2.6rem;
}

#nav-right {
  color: var(--logo-color);

}

.z-navbar .z-links li a.active {
  padding: 10px 5px;
  background-color: var(--logo-color);
  color: white;
}

.z-navbar .z-links {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  list-style: none;
  gap: 30px;
  padding: 24px 40px;
  border-radius: 12px;
  margin: 0px;

}

.z-navbar .z-links li a {
  font-size: 18px;
  text-decoration: none;
  line-height: 27px;
  font-weight: 400;
  font-family: "Manrope", serif;
  color: white;
}

.z-navbar .z-links li a.active {
  padding: 14px 24px;
  border-radius: 8px;
  font-weight: 500;
}

.z-navbar .z-links li .z-home.active {
  margin-left: -30px;
}

.z-navbar .z-links li .z-Subscriptions.active {
  margin-right: -30px;
}

.z-navbar .z-icon {

  display: flex;
  align-items: center;
  justify-content: end;
  width: 199px;
  gap: 30px;
  font-size: 25.5px;
}



.cart-icon2 {

  color: var(--navbar-color) !important;
  font-size: 25px !important;
  cursor: pointer;



}
.cart-icon22{
   color: white!important;
  font-size: 25px !important;
  cursor: pointer;

}

.z-navbar .z-button {
  display: none;
}


.z-nav2 {
  background-color: #121a2ba9;

}

.btn-open {

  display: none;
  margin-bottom: 20px;
}

.line {
  width: 50px;
  height: 2px;
  margin-top: 10px;
  background-color: var(--logo-color);
}

.user-list {
  margin-top: 270px;
  list-style: none;
  display: flex;
 
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-color: var(--navbar-color);
  padding: 10px;
  border-radius: 2px;
  gap: 20px;
  position: absolute;
  right: 170px;

}

.user-list li a.active {
background-color: rgba(255, 255, 255, 0.01) !important;
padding: 0px !important;
font-size: 35px !important;
}
.list-none {
 display:none;
}

@media (max-width: 1440px) {
 

  .z-navbar .z-links {
    padding: 20px 30px;
    gap: 16px;
    border-radius: 10px;

  }

  .z-navbar .z-links li a.active {
    padding: 10px 5px;
    background-color: var(--logo-color);
    color: white;
  }

  .z-navbar .z-links li .z-home.active {
    margin-left: -22px;
  }

  .z-navbar .z-links li .z-details .active {
    margin-left: 30px;

  }

  .z-navbar .z-links li a {
    font-size: 14px;
    line-height: 21px;
  }


  .z-navbar {
    height: 98px;
    padding: 18px 5.555%;
  }


}

@media (max-width: 950px) {
   .user-list {
    width: 20%;
    margin-top: 0px;
    right: 0px;
    top: 10px;
   
  }
  .z-navbar {
    height: 102px;
    padding: 40px 4.102564% 14px 4.102564%;
  }

  .z-navbar .logo h1 {
    font-size: 2rem
  }

  .z-navbar .z-links.z-link-open {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 11%;
    left: 0%;
    background-color: var(--logo-color);
    width: 100%;
    border-top-left-radius: 0%;
    border-top-right-radius: 0%;
  }

  .btn-open {
    display: block;
  }

  .z-links.z-link-open li a {
    color: white;
  }

  .z-navbar .z-links,

  .z-navbar .z-button {
    display: none;
  }


  .z-nav2 {
    padding: 10px 4.102564%
  }
}

@media (max-width: 390px) {
  .z-navbar ul li a {
    font-size: 10px;

  }
}