.form-input {
    margin: 12px;
    padding: 10px 0px;
    width: 70%;
    border-radius: 4rem;
    padding-left: 10px;
    border: 2px solid var(--navbar-color);
    box-shadow: 1px 1px 10px 0px var(--logo-color);

}

.div-input {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

@media (max-width:600px) {
    .form-input {
        width: 100%;
    }
}