.form-input {
    margin: 12px;
    padding: 10px 0px;
    width: 80%;
    border-radius: 4rem;
    padding-left: 10px;
    border: 2px solid rgb(214, 91, 124);
    box-shadow: 1px 1px 10px 0px rgb(214, 91, 124);
}

.div-input {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}