.wallet-container {
  width: 100%;
  flex-direction: column;
  padding: 240px 100px;
  position: fixed;
  z-index: 1000;
  height: 100%;
}

.wallet-div {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px 20px;
  border: 2px solid var(--logo-color);
  width: 42rem;
  border-radius: 5%;
  background-color: var(--navbar-color);
  box-shadow: 1px 1px 20px 0px white;
  background: linear-gradient(to right, var(--navbar-color), #1e365e);
}
@media (max-width: 1000px) {
  .wallet-div {
    width: 100%;
    flex-wrap: wrap;
  }

  .wallet-container {
    padding: 170px 30px;
  }
}
