.feature-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.feature-div p{
color: gray;

}
.feature-div .icon-div{

    background-color: #3C83F61A;
    padding: 10px;
    border-radius: 50px;
    color: var(--logo-color);
    margin-bottom: 10px;
}
