.loading-page {
  width: 100%;
  height: 100vh;
  background-color: var(--navbar-color);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.loading-circle {
  margin: 0px 10px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: var(--logo-color);
  animation: Circle 0.8s infinite ease-in-out;
}

.loading-circle:nth-child(2) {
  animation-delay: 0.1s;
}
.loading-circle:nth-child(3) {
  animation-delay: 0.2s;
}

@keyframes Circle {
  0%,
  80%,
  100% {
    tranform: scale(0);
    opacity: 0.3;
  }
  40% {
    transform: scale(1);
    opacity: 1;
  }
}
