.products-sec {
    padding: 150px 70px;
    width: 100%;
    background-color: var(--bg-color);
    flex-direction: column;
}

.div-products {
    flex-wrap: wrap;
    gap: 53px;
    margin-top: 40px;
}

.products-sec h2 {
    color:var(--navbar-color);
    font-size: 2.5rem;
    margin-bottom: 60px;
}