


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
.flex-center{
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width:1000px) {
.flex-center{

  flex-wrap: wrap;
}
  
}