.product-details{

    width: 100%;
    padding: 100px 70px;
    padding-top: 150px;
   background-color:rgb(214, 91, 124) ;
   flex-direction: column;
   gap: 30px;
}
.product-details h2{
    color: white;
    font-size: 2rem;
}
.product-details p{color:yellow;
font-size: larger;}
.product-details select{
    width:50%
   padding:10px;
}
.product-details img{
    border-radius: 7%;
    width:15rem;
}